<ion-header>
	<ion-toolbar>
		<ion-title>HorizontalDownDemo01</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h1><a href='https://codepen.io/EricPorter/pen/vYBexdP'>Codepen</a></h1>

	<div id="nav-1">

		<ul class="nav">
			<li class="slide1"></li>
			<li class="slide2"></li>
			<li><a class="active" href="#/">Alpha</a></li>
			<li><a href="#/">Beta</a></li>
			<li><a href="#/">Gamma</a></li>
			<li><a href="#/">Delta</a></li>
			<li><a href="#/">Epsilon</a></li>
		</ul>

	</div>
</ion-content>