<ion-header>
	<ion-toolbar>
		<ion-title>GridPalettesDemo01</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h1><a href='https://codepen.io/oliviale/pen/bOWqbj'>Codepen</a></h1>

	<div class="main-content">
		<div class="palette__wrapper">
			<div class="palette palette--one">
				<div class="palette__cover">
					<div class="palette__cover__border"><span>Yellow Flicker Beat.</span></div>
				</div>
				<div class="palette__cover__top"></div>
				<div class="palette__base">
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
				</div>
			</div>
			<h4>Yellow Flicker Beat<small>Lorde</small></h4>
		</div>
		<div class="palette__wrapper">
			<div class="palette palette--two">
				<div class="palette__cover">
					<div class="palette__cover__border"><span>Four Pink Walls.</span></div>
				</div>
				<div class="palette__cover__top"></div>
				<div class="palette__base">
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
				</div>
			</div>
			<h4>Four Pink Walls<small>Alessia Cara</small></h4>
		</div>
		<div class="palette__wrapper">
			<div class="palette palette--three">
				<div class="palette__cover">
					<div class="palette__cover__border"><span>Blue on blue.</span></div>
				</div>
				<div class="palette__cover__top"></div>
				<div class="palette__base">
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
				</div>
			</div>
			<h4>Blue on Blue<small>James Blunt</small></h4>
		</div>
		<div class="palette__wrapper">
			<div class="palette palette--four">
				<div class="palette__cover">
					<div class="palette__cover__border"><span>Little Black Dress.</span></div>
				</div>
				<div class="palette__cover__top"></div>
				<div class="palette__base">
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
					<div class="palette__shade"></div>
				</div>
			</div>
			<h4>Little Black Dress<small>Sara Bareilles</small></h4>
		</div>
	</div>
</ion-content>