<ion-header>
	<ion-toolbar>
		<ion-title>DropDownDemo01</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h1><a href='https://codepen.io/aaroniker/pen/MWgjERQ'>Codepen</a></h1>

	<select data-menu>
		<option>Easy</option>
		<option selected>Normal</option>
		<option>Hard</option>
		<option>Expert</option>
	</select>

	<!-- dribbble -->
	<a class="dribbble" href="https://dribbble.com/shots/7018412-Dropdown-menu-interaction" target="_blank"><img
			src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg"
			alt=""></a>
</ion-content>